table.users-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 12;
    min-width: 800px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table.users-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table.users-table th,
table.users-table td {
    padding: 12px 15px;
}

table.users-table thead tr th.message {
    min-width: 500px;
    max-height: 30px;
}

table.users-table tbody tr {
    max-height: 30px;
}

table.users-table tbody th {
    max-height: 30px;
}

table.users-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table.users-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

table.users-table tbody tr:last-of-type {
    border-bottom: 2px solid  #009879;    
}