<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>Nadpis</h1>
<p>Text odstavce</p>
<form method="POST" action=".">
    <table>
        <tr>
            <td>Jmeno:</td>
            <td><input type="text" name="firstname" /></td>
        </tr>
        <tr>
            <td>Prijmeni:</td>
            <td><input type="text" name="lastname" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="OK" /></td>
        </tr>
    </table>
</form>
</body>
</html>
