<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "./index.css">
    <script type="text/javascript" src="./index.js"></script>

</head>
<body>

<nav>
    <p>Communicator!</p>
    <ul>
        <li> <a href = "./">Home</a></li>
        <li> <a href = "messages">Messages</a>
            <ul>
                <li><a href = "api/messages">Read API files</a></li>
            </ul>
        </li>
        <li> <a href = "topics">Topics</a></li>
        <li> <a href = "users ">Users</a></li>
        <li> <a href = "">Contact </a>
            <ul>
                <li><a href = "mailto:jan@janrehak.cz">Email</a></li>
                <li><a href = "https://www.janrehak.cz">Website</a></li>
                <li><a href = "https://www.mordor.cz">Mordor</a></li>
        </li>
    </ul>
</nav>



<table class="messages-table">
    <thead>
        <tr>
            <th>Author</th>
            <th index= "message">Message</th>
            <th>Topic</th>
            <th>id</th>
            <th>Creadted at</th>
        </tr>
    </thead>
    <tbody id = "messages-list">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>




</body>
</html>