<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="./index.js"></script>

</head>
<body>
<h1 style="color:red;">Welcome to Communicator!</h1>
<hr>
<hr>
<h3>Menu</h3>
<nav>
    <ul>
        <li><a href="./">Homepage</a></li>
        <li><a href="./messages">POST A MESSAGE</a></li>
        <li><a href="./api/messages">Read messages!</a></li>
        <li><a href="./api/users/getLoggedUser">Logged User</a></li>
        <li><a href="./logout">Logout</a></li>
    </ul>
</nav>

<table class="messages-table">
    <td>Message list</td>
    <tbody id="messages-list"></tbody>
</table>

</body>
</html>