<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "./messages.css">

    <script type="text/javascript" src="./messages.js"></script>
    <title>Title</title>
</head>

<nav>
    <p>Communicator!</p>
    <ul>
        <li> <a href = "./">Home</a></li>
        <li> <a href = "messages">Messages</a>
            <ul>
                <li><a href = "api/messages">Read API files</a></li>

            </ul>
        
        </li>
        <li> <a href = "topics">Topics</a></li>
        <li> <a href = "users ">Users</a></li>
        <li> <a href = "">Contact </a>
            <ul>
                <li><a href = "mailto:jan@janrehak.cz">Email</a></li>
                <li><a href="https://www.janrehak.cz">Website</a></li>
                <li><a href = "https://www.mordor.cz">Mordor</a></li>

        </li>

    </ul>
</nav>




<h1>Message inputer!</h1>
<form  method="POST" action=".">
    <table name = "postMessage">
        <tr>
            <td name = "message">Message></td>
            <td>
            <textarea rows="4" cols="60" id="messageInput" name="message" class="red-border" placeholder="insert message here"></textarea>
            </td>
        </tr>
        <tr>
            <td>Topic</td>
            <td>
                
                <!-- //here the magic needs to happen
                //roll down menu filled with topic names -->
                <select id = "topics">
                    
                </select>
                <!-- <input type="text" id="topicInput" name="topic" placeholder="insert topic here" > -->
            
            
            </td>
        </tr>
        <tr>
            <td>
                <button value="refresh" type="button" onclick='storeMessage($("#messageInput").val(), 
                                                                            $("#topics").val())' >Send Message</button>
            </td>
        </tr>
    </table>
</form>

<select id = "topics">

</select>



<h1>Topic inputer!</h1>
<form method="POST" action=".">
    <table>
        <tr>
            <td>Topic</td>
            <td>
                <textarea rows="4" cols="60" id="newTopicName" name="topic" class="red-border"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <button value="refresh" type="button" onclick='storeTopic($("#newTopicName").val())' >Send Topic</button>
            </td>
        </tr>
    </table>
</form>

<table class="topic-table">
    <thead>
        <tr>
            <th name = "topicName">Topic name</th>
            <th index= "topicId">Topic ID</th>
            
        </tr>
    </thead>
    <tbody id = "topic-list">

    </tbody>
</table>





</body>
</html>


