<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link rel = "stylesheet" type = "text/css" href = "./messages.css">

    <script type="text/javascript" src="./messages.js"></script>
    <script type="text/javascript" src="./shared.js"></script>

    <script>$(function(){
                $("#nav-placeholder").load("nav");
});
    </script>

    <title>Messages</title>
</head>

<!--Navigation bar-->
<div id="nav-placeholder"></div>
<!--end of Navigation bar-->




<h1>Message inputer!</h1>
<form  method="POST" action=".">
    <table name = "postMessage">
        <tr>
            <td name = "message">Message></td>
            <td>
            <textarea rows="4" cols="60" id="messageInput" name="message" class="red-border" placeholder="insert message here"></textarea>
            </td>
        </tr>
        <tr>
            <td>Topic</td>
            <td>
                
                <!-- //here the magic needs to happen
                //roll down menu filled with topic names -->
                <select id = "topics">
                    
                </select>
                <!-- <input type="text" id="topicInput" name="topic" placeholder="insert topic here" > -->

            </td>
        </tr>
        <tr>
            <td>
                <button value="refresh" type="button" onclick=
                        'storeMessage($("#messageInput").val(),
                                      $("#topics").val()),
                                      reloadPage()' >Send Message</button>
            </td>
        </tr>
    </table>
</form>

<!--<select id = "topics">-->

<!--</select>-->









</body>
</html>


