<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="./messages.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Title</title>
</head>

<h3>Menu</h3>
<nav>
    <ul>
        <li><a href="./">Homepage</a></li>
        <li><a href="./messages">POST A MESSAGE</a></li>
        <li><a href="./api/users/getLoggedUser">Logged User</a></li>
        <li><a href="./logout">Logout</a></li>
    </ul>
</nav>
<br>
<br>
<body>
<h1>Message inputer!</h1>
<form method="POST" action=".">
    <table>
        <tr>
            <td>Message</td>
            <td>
            <textarea rows="4" cols="60" id="messageInput" name="message" class="red-border"></textarea>
            </td>
            <td>Topic</td>
            <td>
            <td><input id="topicInput" name="topic" /></td>
        </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <button type="button" onclick='storeMessage($("#messageInput").val(), $("#topicInput").val())' >Send Message</button>
        </tr>
    </table>
</form>



<h1>Topic inputer!</h1>
<form method="POST" action=".">
    <table>
        <tr>
            <td>Topic</td>
            <td>
            <textarea rows="4" cols="60" id="newTopicName" name="topic" class="red-border"></textarea>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <button type="button" onclick='storeTopic($("#newTopicName").val())' >Send Topic</button>
        </tr>
    </table>
</form>


</body>
</html>


