<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel = "stylesheet" type = "text/css" href = "./nav.css">


</head>

<nav>
    <p>Communicator!</p>
    <ul>
        <li> <a href = "./">Home</a></li>
        <li> <a href = "messages">Messages</a>
            <ul>
                <li><a href = "api/messages">Read API files</a></li>
            </ul>
        </li>
        <li> <a href = "topics">Topics</a></li>
        <li> <a href = "users ">Users</a>
            <ul>
                <li><a href = "api/users/getLoggedUser">Get Logged User</a></li>
            </ul>
        </li>
        <li> <a href = "">Contact </a>
            <ul>
                <li><a href = "mailto:jan@janrehak.cz">Email</a></li>
                <li><a href = "https://www.janrehak.cz">Website</a></li>
                <li><a href = "https://www.mordor.cz">Mordor</a></li>
            </ul>
        </li>
    </ul>
</nav>